

/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a{
	color: #3b5998;
	text-decoration:none;
}
a:hover{
	color: orange;
	text-decoration:underline;
}

body {
	background:lightblue;
	color: #444;
	font: normal 62.5% Tahoma,sans-serif;
}
body {
	background-color:lightblue;
	color: #444;
	font: normal 62.5% Tahoma,sans-serif;
}
p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}
h1,h2,h3 {padding-top: 6px;
}

/* misc */
.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

/* structure */
.container {
	background:whitesmok;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 4px 4px;
	width:100% auto;
}

/* header */
.top {
	background:#FFF;
	padding:0;
}

/* title */
.header {
	font-size: 60px;
	height: 194px;
	margin-top:0px;
	padding: 4px 4px 0px;
	border-radius:3px 3px 0 0;
	background:#4E8975;
	 /* Old browsers */

}
.header h1{
	color:grey;
	font-size:60px;
	margin-left:5px;
}

.header .left, .header .right {
	background: #A4A4A0;
	color: #FFF;
	height: 100px;	
}
.header .head {
	background: #8FBC8F url(../img/header.jpg) no-repeat;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 100px;
	text-align: left;	
	width: 900px;
	
}
#social-icons{
	margin-top:-15px	;
	margin-right:10px	;
	display:inline;
	float:right;

	
}
#social-icons ul li{
	list-style:none;
	text-decoration:none;
	display:inline;
}
.social-icon{

	width:40px;
	height:40px;
	margin: 0 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.60;
}
.social-icon:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.sitename{
	margin-left:20px;
	
}
.sitename a{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
.sitename a:hover{
	color: #3b5998;
}
.header .right p,.header .right h2 {padding: 0 16px;}
.header .right h2 {padding-top: 16px; font: normal 1.6em "Trebuchet MS",sans-serif;}

/* navigation */
.navigation {	
	background: #D9E1E5 url(../img/nav.gif);
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}
.navigation a {

	background: #D9E1E5 url(../img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #456;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 20px;
	text-decoration: none;
}
.navigation a:hover {background-position: left bottom;
 color: #234;}

nav ul ul {
	display: none;
	font-size:14px;
}

nav ul li:hover  ul {
		display: block;
		background:#A9A9A9; 
		color:#111;
	}
nav ul {
	background: white; 
	padding: 0 5px;
	border-radius: 5px;  
	list-style: none;
	position: relative;
	line-height: 40px;
	font-size:14px;
	
}
nav ul:after {
		content: "";
		clear: both; 
		display: block;
		font-size:14px;
	}
nav ul li {
	float: left;
	font-size:14px sans-serif;
	text-transform:capitalize;
}
nav ul li:hover {
        
		color: #A9A9A9;
	}
nav ul li a:hover {
			color:#111;
			text-decoration: none;
			background:#A9A9A9;
			
			
		}
	
nav ul li a {
		display: block;
		padding: 0px 38px;
		color: #757575; 
		text-decoration: none;
		font-size:16px;
	}
nav ul ul {
	 border-radius: 1px; 
	 padding: 0; 
	font-size:14px;
	position: absolute; top: 75%
	
}
nav ul ul li {
		float: none; 
		border-top: 0px solid #6b727c;
		border-bottom: 0px solid #575f6a;
		position: relative;
		font-size:12px;
	}
nav ul ul li a {
			padding: 12px 12px;
			color:white;
			font-size:12px;
			line-height: 13px;
		
			
		}	
nav ul ul li a:hover {
				background: #808080; 
				}
 nav ul ul ul {
    font-size:12px;
	position: absolute; left: 70%; top:0;
}

/* main */
.main {
	border-top: 4px solid #FFF;
	
	width: 100%;
	background: whitesmoke; 
}

/* sub navigation */
.sidenav {
	float: right;
	width: 184px;
	padding-right:35px;
	border:1px solid #CCD8E0;
	border-radius:3px 3px 3px 3px;
	
}
.sidenav .right-menu{
    padding-right:38px;
	width: 180px;
	text-align:center;
	background:blue;
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}
.sidenav h2 {
	color: #fff;
	font-size: 1em;
	line-height: 30px;
	margin: 0;

}
.sidenav ul {
	padding: 0;
	border-top: 1px solid #EAEADA;
}
.sidenav .right-content{
	width: 220px;
	padding-bottom:5px;
	padding-left:-10px;
	padding-right:38px;
	text-align:left;
}
.sidenav li {
    border-bottom: 1px solid #EAEADA;
	}
.sidenav li a {
	font-size: 1em;
	color: #000;
	display: block;
	padding: 5px 0 8px 5px;
	text-decoration: none;
	width: 220px;
	padding-right:38px;
}

.sidenav li a:hover {
	background:	#808080;
	color: #000;	
}

/* content */
.content {
	float: left;
	margin: 0px 0 5px 0;
	width: 650px;
	height:auto;
	background: whitesmoke; 
	
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.node{
	border:1px solid #CCD8E0;
	padding:10px;
	border-radius:3px 3px 3px 3px;
	margin-bottom:5px;
	width:950px;
	background: whitesmoke; 
	
}
.node p{
	text-align:justify;
	text-justify:inter-word;
}
.content ul {margin-left: 18px;}
.content ul li {list-style: url(img/li.gif);}
.content ol li {list-style: decimal;}
.content p {font-family: "Lucida Sans Unicode",sans-serif;}

.menu{
	
	width:620px;
}
.menu ul li{
	list-style:none;
	text-decoration:none;
	display:inline;
}
.menu-icon{
	border:3px solid grey;
	border-radius:3px;
	width:40px;
	height:40px;
	margin-left:px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.menu-icon ul li a{
	text-decoration:none;
}
.menu-icon:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.60;
}
/*form Button*/

a.-buttonform {
	cursor:hand;
	float:center;
	width:70px;
	font-family: sans-serif;
	display: inline-block;
	line-height: 1em;
	padding: 6px 1px;
	margin: 0 .6em 1.5em 0;
	color: white !important;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none !important;
	background-color: #237fd7;
}
a.-buttonform:hover, a.-button.hover, a.-button.active {
	text-decoration: none !important;
	background: #0073d2;

}
 a.-buttonform:active, a.-button.active {
	border-color: #20559a;
}
/*Button*/


a.-button.dark span {
	color: #555;
	text-shadow: 0 1px #fff;
	
}
a.-button.custom:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
}
a.-button span {
	line-height: 1.2em;
	min-height: 16px;
}
a.-button span.-home {
	background: url( "../images/home.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;

}
a.-button span.-barrowers {
	background: url( "../images/barrowbooks.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-return {
	background: url( "../images/return.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-borrowedlist{
	background: url( "../images/borrowedlist.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-returnedlist {
	background: url( "../images/return.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-unreturnedlist{
	background: url( "../images/unreturned.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
button{
	background:none;
	border:0px;
}
.but{
	float:right;
	margin-right:20px;
}
.table{
	text-align:center;

}
.table td{
	text-align:center;
	padding:2px;
}
table{
   }
.adduserform{
	margin-right:-10px;
	float:right;
	border:1px solid #CCD8E0;
	margin-bottom:6px;
	padding:2px;
}


#wowslider-container1 .ws_hovershow {
    /*display: none !important; */
    opacity: 0;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}

#wowslider-container1:hover .ws_hovershow {
    /*display: block !important;*/
    opacity: 1;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}

/*playpause*/
#wowslider-container1 .ws_playpause {
    width: 18px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -14px;
    z-index: 59;
}

#wowslider-container1 .pause {
    background-image: url(./pause.png);
}

#wowslider-container1 .play {
    background-image: url(./play.png);
}

#wowslider-container1 .pause:hover, #wowslider-container1 .play:hover {
    background-position: 100% 100% !important;
}

#wowslider-container1 .ws_fullscreen {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 15px;
    margin-left: -9px;
    margin-top: -14px;
    z-index: 59;
    background-image: url(./fullscreen.png);
}

div#ws_fullscreen:-moz-full-screen #wowslider-container1 {
    width: 95% !important;
    max-width: 100% !important;
    max-height: inherit;
}

div#ws_fullscreen:-webkit-full-screen #wowslider-container1 {
    width: 95% !important;
    max-width: 100% !important;
    max-height: inherit;
}

div#ws_fullscreen:fullscreen #wowslider-container1 {
    width: 95% !important;
    max-width: 100% !important;
    max-height: inherit;
}

div#ws_fullscreen:-moz-full-screen {
    background-color: #000;
    height: 100%;
}

div#ws_fullscreen:-webkit-full-screen {
    background-color: #000;
    height: 100%;
}

div#ws_fullscreen:fullscreen {
    background-color: #000;
    height: 100%;
}

/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
 p, span {
    margin:0;
    padding:0;
	}
  form {
    margin:0;
    padding-left:30px;
	width:400px;
    background:#F0FFF0;
	text-align:left;

  }
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }



.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
@media print {
  .container {
    width: auto;
  }
}
